    <div class="full-background"></div>
    <nav class="navbar navbar-expand-lg navbar-dark dashboard-bg" style="height: 5%; background-color: rgb(27, 40, 54); margin-bottom: 20px;">
            <a class="navbar-brand" href="/">Twit-Node</a>
              <ul class="navbar-nav mr-auto">
                <li class="nav-item nav1" onclick="location.href='/'">
                    <i class='fa fa-home' style='font-size:30px; color: white;'></i>
                  <a class="nav-link" style="float: right;" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item nav2" onclick="location.href='./notifications'">
                    <i class='fa fa-bell'  style='font-size:30px; color: white;'></i>
                  <a class="nav-link" style="float: right;" href="./notifications">Notifications</a>
                </li>
                <li class="nav-item nav3" onclick="location.href='#'">
                    <i class='fa fa-envelope'  style='font-size:30px; color: white;'></i>
                  <a class="nav-link" style="float: right;" href="#">Messages</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
              <li class="nav-item">
                  <a class="nav-link" href="/users/logout">Logout</a>
              </li>
      </nav>
