<!-- views/partials/footer.ejs-->

<footer>
    <a>Twitter is a registered trademark of Twitter Inc. This project is just for educational purpose only.</a>
    <br>
    <a>This project was designed by <a href="https://github.com/aaerok" style="color: rgb(85, 164, 255)">aerok</a></a>
</footer>