<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="/css/style.css">
      <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
      </head>
    <title>Twit-Node</title>
    <body>
        <div class="full-background"></div>
        <nav class="navbar navbar-expand-lg navbar-dark dashboard-bg">
                <a class="navbar-brand" href="/">Twit-Node</a>
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="./notifications">Notifications</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link" href="#">Messages</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                  <li class="nav-item">
                      <a class="nav-link" href="/users/logout">Logout</a>
                    </li>
              </nav>
              <form class="form-inline my-2 my-lg-0" action="/tweet/status"  onsubmit="setTimeout(function () { window.location.reload(); }, 10)" method="POST">
                <div class="tweet-box">
                  <input class="form-control tweet-input" type="text" name="status" placeholder="What's happening?" autocomplete="off">
                  <button class="btn btn-outline-success">Tweet</button>
                </div>
                </form>
                <% if (typeof tweets != "undefined") { %>
                  <% tweets.forEach( (tweet) => { %>
                    <div class="tweet">
                      <img class="user-pic" src="/imgs/user.png">
                      <div class="tweet-context">
                        <a class="tweet-date"><%= tweet.date %></a>
                        <a class="username" href="#">@<%= tweet.username %></a>
                        <a class="tweet-body"><%= tweet.body %></a>
                      </div>
                  </div>
                  <% }); %>
                <% } %>
                <div class="footer">
                  <a>Twitter is a registered trademark of Twitter Inc. This project is just for educational purpose only.</a>
                </div>
    </body>
</html>