<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">    
    </head>
        <div class="full-background"></div>
        <form class="form" action="/users/login" method="post">
            <div id="user-authentication">
                <label for="username">Username</label>
                <input class="u-full-width" type="text" id="username" name="username" autocomplete="off">
                <label for="password">Password</label>
                <input class="u-full-width" type="password" name="password" autocomplete="off">
                <button class="button-primary">Login</button>
            </div>
        </form>
        <% if(!locals.message) { %>
            <div class="alert alert-success" role="alert">
                <strong>Thank you for registering!</strong>
            </div>
        <% } %>
</html>