html, body {
    height: 100%;
    margin: 0 auto;
}

h1 {
    z-index: 1;
}

hr {
    border: none;
    height: 2px;
    background-color: rgb(73, 113, 141);
}

h1, h2, h3, h4, p, label, button, li, footer, a {
    font-family: 'Montserrat', sans-serif;
}

/* index file */
footer {
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(27, 40, 54);
    transform: translateY(100%);
}

footer a {
    color: white;
    right: 50%;
}

.nav-active {
    border-bottom-color: rgb(0, 174, 255);
    border-bottom-style: solid;
    color: rgb(0, 174, 255);
}

.navbar {
    position: relative;
}

#right-body {
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgb(27, 40, 54);
    position: absolute;
    z-index: -1;
}
#left-body {
    float: left;
    width: 50%;
    height: 100%;
    background-color: rgb(39, 162, 233);
    position: absolute;
    z-index: -1;
}
.title {
    padding-left: 10%;
    color: white;
}

.form {
    width: 50%;
    float: right;
    margin-right: -5%;
}

.form label{
    color: white;
}

#userLogin {
    float: right;
    padding-right: 30%;
}

/* register file */
.full-background {
    min-height: 100%;
    min-width: 100%;
    background-color: #10171e;
    position: fixed;
    z-index: -1;
}

#user-authentication {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(35, 49, 66);
    /*border-radius: 200px;*/
    padding: 30px 50px 100px 50px;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1px;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  
  .alert-success hr {
    border-top-color: #b1dfbb;
  }
  
  .alert-success .alert-link {
    color: #0b2e13;
  }

  .dashboard-bg {
      background-color: rgb(27, 40, 54);
  }
  
/* Handle tweets */
.tweet {
    width: 575px;
    margin: 0 auto;
    min-height: 125px;
    min-width: 500px;
    background-color: #15202b;
    border: 1px solid #38444d;
    word-wrap: break-word;
}
.username{
    position: relative;
    float: left;
    z-index: 5;
    color: white;
    font-weight: bold; 
    box-sizing: border-box;
    margin-right: 20px;
    margin-left: 15px;
}

.username:hover {
    color: #1DA1F2;
}

.user-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 5px 0px 0px 5px;
    float: left;
}

.user-pic:hover {
    cursor: pointer;
}

.tweet-form {
    width: 575px;
    min-height: 150px;
    min-width: 500px;
    text-align: center;
    display: inline-block;
    margin: 20px auto;
    background-color: #1B3448;
    border: 1px solid #38444d;
}

#status {
    font-size: 14px;
}

.tweet-button {
    position: relative;
    font-weight: bold;
    padding: 5px 15px;
    color: white;
    background-color: #1C88CC;
    border-color: transparent;
    border-radius: 100px;
    left: 84%;
}

.tweet-danger {
    opacity: 0.3;
}

.tweet-danger:hover {
    cursor: not-allowed;
}

.tweet-button:hover {
    background-color: #1da1f2;
}

.tweet-input{
    color: white;
    margin: 0px 0px 0px 60px;
    min-height: 75px;
    min-width: 500px;
    background: #10171e;
    border: 2px solid #1B4665;
    border-radius: 8px;
    resize: none;
    line-height: 20px;
    padding: 6px 12px;
}

.tweet-context {
    margin: 30px 10px 5px 60px;
    min-height: 50px;
}

.tweet-body {
    position: relative;
    color: white;
    word-wrap: break-word;
}

.tweet-date {
    position: relative;
    color: grey;
    float: right;
    margin-right: 10px;
    top: 0%;
}


.tweet-comment {
    color: white;
    margin: 0px 0px 0px 40px;
    min-height: 50px;
    min-width: 500px;
    background: #10171e;
    border: 2px solid #1B4665;
    border-radius: 8px;
    resize: none;
    line-height: 20px;
    padding: 6px 12px;
}

.comment-button {
    position: relative;
    font-weight: bold;
    padding: 5px 15px;
    color: white;
    background-color: #1C88CC;
    border-color: transparent;
    border-radius: 100px;
    left: 84%;
}

.remove-button {
    margin: -10px 0px -30px 0px;
}

.comment-container {
    margin: 0px 20px 20px 30px;
}

.comment-pic {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 5px 0px 0px 5px;
}

.comment-pic:hover {
    cursor: pointer;
}

.comment-username {
    position: relative;
    z-index: 5;
    color: white;
    font-weight: bold; 
    box-sizing: border-box;
    margin-right: 20px;
    margin-left: 15px;
    color: white;
}

.comment-username:hover {
    color: #1DA1F2;
}

.comment-body {
    color: white;
    display: block;
    margin: 5px 0px 0px 10px;
}

.tweet-button:focus, .comment-button:focus, .tweet-input:focus {
    outline: 0;
    box-shadow: none!important;
    border-color: rgb(0, 132, 255);
    transition: border-color 0.5s ease;
}

/* User Box */
.col-wrapper {
    margin: 0 auto;
    width: 550px;
}

.tweet-wrapper {
    float: left;
}

#user-sidebar {
    border: 1px solid #38444d;
    background-color: #15202b;
    float: left;
    height: 220px;
    width: 275px;
    margin-left: -285px;
}

#user-banner {
    background-color: rgb(64, 147, 255);
    height: 40%;
}

#user-banner:hover {
    cursor: pointer;
}   

#user-sidebar-info {
    padding-left: 5px;
    height: 30%;
}

.bio-username:hover {
    cursor: pointer;
    text-decoration: underline;
}

.col-item {
    position: relative;
    width: 33%;
    text-align: center;
    font-weight: bold;
    float: left;
    color: rgb(185, 185, 185);
}

.stats-title {
    color: rgb(82, 151, 255);
    position: relative;
    width: 33%;
    text-align: center;
    float: left;
    font-size: 20px;
}

/* User Profile */
.profile-banner {
    height: 20%;
    background-color: rgb(0, 174, 255);
    margin-top: -20px;
}

.profile-nav {
    background-color: rgb(27, 40, 54);
    height: 7%;
    margin-bottom: 10px;
    text-align: center;
}

#profile-sidebar {
    float: left;
    height: 220px;
    width: 275px;
    margin-left: -285px;
}

.profile-pic {
    height: 200px;
    width: 200px;
    margin-top: -200px;
    margin-left: -300px;
    border-radius: 50%;
    border: 4px solid rgb(27, 40, 54);
}

.navbar-full {
    margin-left: -250px;
}

.nav-item {
    margin-top: 10px;
    color: rgb(172, 172, 172);
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    margin-left: 50px;
}

.nav-item p {
    color: rgb(102, 186, 255);
    font-size: 18px;
}

.nav-item:hover {
    cursor: pointer;
}

.no-user-tweets {
    margin-left: 80px; 
    font-size:16px; 
    font-weight: bold; 
    color: rgb(180, 180, 180)
}

.delete-following {
    color: white;
    background-color: rgb(54, 101, 133);
    padding: 10px;
    font-weight: bold;
    width: 110px;
    border: none;
    border-radius: 20px;
    opacity: 0.9;
    margin-top: -100px;
    margin-right: -700px;
}

.delete-following:hover {
    transition: 0.5s ease;
    background-color: rgb(82, 149, 194);
    opacity: 1;
    cursor: pointer;
}

.delete-following:focus {
    outline: none;
}