html, body {
    position: relative;
    height: 100%;
    margin: 0;
}

h1 {
    z-index: 1;
}

hr {
    border: none;
    height: 2px;
    background-color: rgb(8, 14, 39);
}

/* index file */
footer {
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #141D26;
    transform: translateY(100%);
}

footer a {
    color: white;
    right: 50%;
}

#right-body {
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgb(27, 40, 54);
    position: absolute;
    z-index: -1;
}
#left-body {
    float: left;
    width: 50%;
    height: 100%;
    background-color: rgb(39, 162, 233);
    position: absolute;
    z-index: -1;
}
.title {
    padding-left: 10%;
    color: white;
}

.form {
    width: 50%;
    float: right;
    margin-right: -5%;
}

.form label{
    color: white;
}

#userLogin {
    float: right;
    padding-right: 30%;
}

/* register file */
.full-background {
    min-height: 100%;
    min-width: 100%;
    background-color: rgb(27, 40, 54);
    position: fixed;
    z-index: -1;
}

#user-authentication {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(35, 49, 66);
    /*border-radius: 200px;*/
    padding: 30px 50px 100px 50px;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1px;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  
  .alert-success hr {
    border-top-color: #b1dfbb;
  }
  
  .alert-success .alert-link {
    color: #0b2e13;
  }

  .dashboard-bg {
      background-color: rgb(27, 40, 54);
  }
  
/* Handle tweets */
.tweet {
    margin: 0 auto;
    width: 575px;
    min-height: 125px;
    min-width: 500px;
    background-color: #15202b;
    border: 1px solid #38444d;
}
.username{
    position: relative;
    float: left;
    z-index: 5;
    color: white;
    font-weight: bold; 
    box-sizing: border-box;
    margin-right: 20px;
}

.username:hover {
    color: #1DA1F2;
}

.user-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 5px 0px 0px 5px;
    float: left;
}

.tweet-form {
    width: 575px;
    min-height: 150px;
    min-width: 500px;
    margin: 20px auto;
    background-color: #1B3448;
    border: 1px solid #38444d;
}

#status {
    font-size: 14px;
}

.tweet-button {
    position: relative;
    font-weight: bold;
    padding: 5px 15px;
    color: white;
    background-color: #1C88CC;
    border-color: transparent;
    border-radius: 100px;
    left: 84%;
}

.tweet-button:focus {
    outline: 0;
    box-shadow: none!important;
}

.tweet-danger {
    opacity: 0.3;
}

.tweet-danger:hover {
    cursor: not-allowed;
}

.tweet-button:hover {
    background-color: #1da1f2;
}

.tweet-input{
    color: white;
    margin: 0px 0px 0px 60px;
    min-height: 75px;
    min-width: 500px;
    background: #10171e;
    border: 2px solid #1B4665;
    border-radius: 8px;
    resize: none;
    line-height: 20px;
    padding: 6px 12px;
}

.tweet-input:focus {
    outline: none;
}


.tweet-context {
    margin: 5px 0px 5px 60px;
}

.tweet-body {
    position: relative;
    color: white;
}

.tweet-date {
    position: relative;
    color: grey;
    float: right;
    margin-right: 10px;
    top: 0%;
}


.tweet-comment {
    color: white;
    margin: 0px 0px 0px 40px;
    min-height: 50px;
    min-width: 500px;
    background: #10171e;
    border: 2px solid #1B4665;
    border-radius: 8px;
    resize: none;
    line-height: 20px;
    padding: 6px 12px;
}

.comment-button {
    position: relative;
    font-weight: bold;
    padding: 5px 15px;
    color: white;
    background-color: #1C88CC;
    border-color: transparent;
    border-radius: 100px;
    left: 84%;
}